<footer class="app-footer">
  <div class="container text-center py-3">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>ARC Tutorials
              </h6>
              <p>
                ARC Tutorials is a YouTube Channel dedicated to teaching MEAN Stack tutorials
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Tutorials
              </h6>
              <p>
                <a href="https://www.youtube.com/playlist?list=PLp50dWW_m40XVtnF0aWp3t1oJIl2lqWe4"
                  class="footer-link" target="_blank">MEAN Stack Project</a>
              </p>
              <p>
                <a href="https://www.youtube.com/playlist?list=PLp50dWW_m40XTcxIaXVqO60LaIlyHWxDS"
                  class="footer-link" target="_blank">Angular Tutorials</a>
              </p>
              <p>
                <a href="https://www.youtube.com/playlist?list=PLp50dWW_m40Vruw9uKGNqySCNFLXK5YiO"
                  class="footer-link" target="_blank">Express JS Tutorials</a>
              </p>
              <p>
                <a href="https://www.youtube.com/playlist?list=PLp50dWW_m40WID0zCrftuRCVa3mCaxYG6"
                  class="footer-link" target="_blank">RxJS Tutorials</a>
              </p>
              <p>
                <a href="https://www.youtube.com/playlist?list=PLp50dWW_m40UvCxL8K83_DotLYiG4mDcM"
                  class="footer-link" target="_blank">Bootstrap 5 Tutorials</a>
              </p>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Interview Series
              </h6>
              <p>
                <a href="https://www.youtube.com/playlist?list=PLp50dWW_m40X_GTW0CXYlkojMT74i2O1i" class="footer-link" target="_blank">MongoDB Interview Questions</a>
              </p>
              <p>
                <a href="https://www.youtube.com/watch?v=qt8bB84PnQs&list=PLp50dWW_m40VPvdJ7ph1CU8xnQkppnSAE" class="footer-link" target="_blank">Angular Interview Questions</a>
              </p>
              <p>
                <a href="https://www.youtube.com/playlist?list=PLp50dWW_m40WcuPM5i0S39UFSMFT7N6bu" class="footer-link" target="_blank">HTML & CSS</a>
              </p>
              <p>
                <a href="https://www.youtube.com/playlist?list=PLp50dWW_m40UugaDgCwvmS53x_OJEJ-fn" class="footer-link" target="_blank">JavaScript</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4"> Contact </h6>
              <p>
                <i class="fas fa-envelope me-3"></i> kramashia101@gmail.com
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    </footer>
    <!-- Footer -->

  </div>
</footer>
